/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 50px; /* 50px is the height of the navbar */
}

.wrapper {
  height: 100%;
  margin-bottom: -100px;
}

.category {
  text-transform: capitalize;
}

.page-header {
  text-transform: capitalize;
}


footer {
  position: relative;
  bottom: 0px;
}

footer .row {
  margin-bottom: 10px;
}