/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 50px; /* 50px is the height of the navbar */
}

.category {
  text-transform: capitalize;
}

.page-header {
  text-transform: capitalize;
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
}

footer .row {
  margin-bottom: 10px;
}